@tailwind base;
@tailwind components;
@tailwind utilities;

.guZdik{
    min-width: 200px !important;
    width: 50% !important;
}
.dtlKip{
    min-width: 200px !important;
    width: 50% !important;
}

